@{
    ViewData["Title"] = "Home Page";
}


@*     <!--hero banner->
 <img class="hero-image" src="~/gallery/big young (11).png" />

 *@


 <div class="home-content">
    <div class="hero-video" id="hero-video">
        <video src="~/gallery/banner%20video.mp4" type="video/mp4" loop autoplay muted></video>
    </div>

    <div class="about-section" id="about-section">
        <h2>About Section</h2>
    </div>
 </div>


